

.form-filling{
    color:rgb(244, 244, 248);
    margin-left: 30%;
    background:black;
}

h1{
    color:rgb(223, 122, 45);

}
.form{
    border: blue;
    border-style:solid;
    border-right: 2rem;
    padding: 50px;
    display: center;
    
  
}

label{
    font-weight: bold;
}

div.container {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

