div{
    margin: 0;
    background:rgb(243, 242, 213) ; 

}
div.container  {
    width: 300px;
    padding: 50px;
    margin: 20px;
    height:100vh;
    padding-right:50px;
    
  }


  #name{
      border: none;
      border-radius: 3%;
      min-height: 3rem;
      min-width:  20rem;
   
    
  }

  #name:hover{
    background-color:rgb(250, 233, 186);
  }

  #font{
      font-size: 2rem;
  }

  div > h1{
      font-size: 4rem;
      font-weight: bolder;
      width:100rem;
  }